body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    padding: 10px;
  }
  #currentDay{
    padding: 20px;
  }
  .maincolumn{
    width: 90%;
  }
  .present{
    background-color: linen;
  }
  .past{
    background-color: orange;
  }
  .future{
    background-color: rgb(180, 218, 171);
  }
  input[type="text"]{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
  }
  